.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  padding-top: 2vh;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todo-card-row {
  padding-bottom: 1vh;
}
